.navbar-default {
  background-color: #4d394b; }

.navbar-default .navbar-brand {
  color: #ffffff; }

.navbar-default .navbar-brand:hover {
  color: #38978d; }

.navbar-default .navbar-brand:focus {
  color: #38978d; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a:hover {
  color: #38978d; }

.navbar-default .navbar-nav > li > a:focus {
  color: #38978d; }

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff; }

.navbar-default .navbar-nav > .dropdown > a:hover {
  border-top-color: #38978d;
  border-bottom-color: #38978d; }

.navbar-default .navbar-nav > .dropdown > a:focus {
  border-top-color: #38978d;
  border-bottom-color: #38978d; }

.navbar-default .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: #38978d;
  border-bottom-color: #38978d; }

.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #38978d;
  border-bottom-color: #38978d; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #38978d;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #38978d;
  background-color: transparent; }

.navbar-default .navbar-text {
  color: #ffffff; }

p.navbar-text > a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s; }

p.navbar-text > a:hover {
  color: #38978d;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s; }

p.navbar-text > a:focus {
  color: #38978d;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s; }

.row .recently-added-col {
  width: 800px;
  margin-left: -5px; }

.row [class*="col"] {
  float: left;
  min-height: 1px; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 100px; }

.table > thead > tr > th {
  text-align: center;
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

a {
  color: #2a80b9;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s; }

a:hover {
  color: #5197c6; }

a:focus {
  color: #5197c6; }
