pip>=7.1.2
setuptools>=18.3.1
Django==1.8.1
gunicorn==19.3.0
psycopg2==2.6
whitenoise==1.0.6
django-debug-toolbar==1.3.0
GitPython>=1.0.1
django-tagging>=0.4
gitdb>=0.6.4
virtualenv>=12.0.7
BeautifulSoup4==4.4.0
pyflakes
pep8
#django-python3-ldap
git+https://github.com/jonge-democraten/python-ldap.git@py3
django-auth-ldap
