body {
    color:#000305;
    font-size: 80%;
    font-family: 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoloration: none;
}

a:link,
a:visited {
    color:#1A94D6;
}

a:hover, a:active{
    color: #797979;
}

.body{
    margin:0 auto;
    width:75%;
    clear:both;
}

.mainHead nav{
    background-color: #797979;
    height: 40px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-boarder-radius: 7px;
}

.mainHead nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainHead nav ul li {
    float: left;
    display: inline;
    
}

.mainHead nav a:link,
.mainHead nav a:visited{
    color: #FFF;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
				      
}

.mainHead nav .active a:link,
.mainHead nav .active a:visited,
.mainHead nav a:hover,
.mainHead nav a:active {
    background-color: #04BAE3;
    text-shadow: none;
}


.mainContent {
    line-height:20px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.content{
    width: 70%;
    float: right;
    padding: 2% 2%;
    background-color: #f8f8f8;
    /*top right bottom left */
    margin: 1% 0% 1% 1%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

.postInfo{
    font-style: italic;
    font-size: 85%;
    color: #989898;
}


.sideInfo {
    width: 25%;
    float: left;
    margin: 1% 0% 1% 0%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color: #F8F8F8

}

.mainFooter {
    width: 100%;
    float: left;
    margin-bottom: 2%;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color: #797979;
}

.mainFooter p {
    width: 92%;
    margin: 2% auto;
    color: #fff;
}



