{% extends 'autopatch/index.html' %}

{% block content %}

<div class="container">
  <div class="content">
    <article class="typicalArticle">
      <header>
	<h3 style="font-size:40px">Welcome to the Patching App</h3>
      </header>
      <p style="font-size:30px">
	Select from environments or tasks in the top navigation.
      </p>
      <ul style="font-size:20px">
	<li>The "Prod/Stage/QA/Dev" tabs will take you to a list of hosts for that environment</li>
	<li>The "Patching Tasks" tab will take the patching admins to a page containing patching related operations.</li>
      </ul>
    </article>
  </div>
</div>

{% endblock %}
