{% extends 'autopatch/index.html' %}

{% block content %}

<div class="MainContent">
  <div class="content">
    <article class="typicalArticle">
      <header>
	<h3>Welcome to the main page of the Patching App</h3>
      </header>
      <h4>Comments:</h4>
      <ul> Please select from one of the options in the menu bar located above.
        <p>
	  <li>The "Prod/Stage/QA/Dev" tabs will take you to a list of hosts for that environment</li>
	  <li>The "Tasks" tab will take you to a page containing patching related operations you can do.</li>
	</p>
	<li>You can manually add a server here! - <a href="/autopatch/create/">Create Server</a></li>
      </ul>
    </article>
  </div>
</div>


{% endblock %}
