{% extends "autopatch/index.html" %}
{% block content %}
<div class="container">
  <p>Viewing <b>{{ total }}</b> hosts in the <b>{{ env }}</b> environment.</p>
  <div class="row">
    <div class="col-xs-4">
      <input class="form-control" type="text" id="input-server-list" placeholder="Filter" autofocus />
    </div>
  </div>
  <table id="myTable" class="table table-striped tablesorter">
    <thead>
      <tr>
	<th>Server Name</th>
	<th>Skip Patching</th>
	<th>Group Owner</th>
	<th>Exclude Packages</th>
      </tr>
    </thead>
    <tbody id="list-servers">
      {% for host in dev_list %}
      {% if ".dev" in host.server %}
      <tr id="list-servers">
	<td align="center" width="25%"><a href="/autopatch/{{host.id}}">{{ host.server }}</a></td>
	<td align="center" width="5%">{{ host.skip }}</td>
	<td align="center" width="10%">{{ host.hostgroup }}</td>
	<td align="center" width="60%">{{ host.exclude }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock  %}
<br />
