<!DOCTYPE html>
<html lang="en">

  <head>
    <title>AutoPatch for Easy Patching</title>
    <meta name="viewport content = "width-device-width, initial-scale=1.0 />
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'autopatch/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'autopatch/css/flat-ui.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'autopatch/css/styles.css' %}" type="text/css" />
  </head>

  <body class="body">
    <header>
      <nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="/autopatch/">Platops Patching</a>
	  </div>
	  <div class="navbar-collapse collapse">
	    <ul class="nav navbar-nav">
	      <li {% if request.path|slice:":16" == "/autopatch/prod/" %}class="active"{% endif %}><a href="/autopatch/prod/">Prod</a></li>
	      <li {% if request.path|slice:":16" == "/autopatch/stage" %}class="active"{% endif %}><a href="/autopatch/stage/">Stage</a></li>
	      <li {% if request.path|slice:":16" == "/autopatch/qa/" %}class="active"{% endif %}><a href="/autopatch/qa/">QA</a></li>
	      <li {% if request.path|slice:":16" == "/autopatch/dev/" %}class="active"{% endif %}><a href="/autopatch/dev/">Dev</a></li>
	      <li {% if request.path|slice:":16" == "/autopatch/tasks" %}class="active"{% endif %}><a href="/autopatch/tasks/">Patching Tasks</a></li>
	    </ul>
	  </div>
	</div>
      </nav>
    </header>

    {% block content %}

    {% endblock %}
    
    
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
	<ul class="nav navbar-nav pull-left">
	  <li>
	    <p class="navbar-text">{{ encouragement }}</p>
	  </li>
	</ul>
      </div>
    </nav> 
  </body>

  <script src="{% static 'autopatch/javascript/jquery-latest.js' %}"></script>
  <script src="{% static 'autopatch/javascript/jquery.tablesorter.js' %}"></script>
  <script src="{% static 'autopatch/javascript/flat-ui.min.js' %}"></script>
  <script>
    $(document).ready(function()
    {
    $("#myTable").tablesorter( {sortList: [[0,0], [1,0]]} );
    }
    );
  </script>
</html>
