<!DOCTYPE html>
<html lang="en">

  <head>
    <title>AutoPatch for Easy Patching</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'autopatch/css/styles.css' %}" type="text/css" />
    <meta name="viewport content = "width-device-width, initial-scale=1.0 />
  <!-- Bootstrap core CSS -->
  <link href="{% static "autopatch/css/bootstrap-3.3.2.min.css" %}" rel="stylesheet">

  <!-- Bootstrap theme -->
      <link href="{% static "autopatch/css/bootstrap-theme-3.3.2.min.css" %}" rel="stylesh
										  eet">

      <!-- Bootstrap datetimepicker plugin -->
      <link href="{% static "autopatch/css/bootstrap-datetimepicker-3.0.0.min.css" %}" rel
	    ="stylesheet">

      <!-- Custom CSS -->
      <link href="{% static "autopatch/css/custom_base.css" %}" rel="stylesheet">

      {% block extra-css %}
      {% endblock %}
  </head>
  <body class="body">
    <header class="mainHead">
      <img src="{% static 'autopatch/images/platypus2.png' %}" windth="700" height="144"/>
      <h2 class='logoText'>AutoPatch Headquarters</h2>

    <div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/autopatch/">Platops Patching</a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    <li {% if request.path|slice:":16" == "/autopatch/prod/" %}class="active"{% endif %}><a href="/autopatch/prod/">Prod</a></li>
	    <li {% if request.path|slice:":16" == "/autopatch/prod/" %}class="active"{% endif %}><a href="/autopatch/stage/">Stage</a></li>
	    <li {% if request.path|slice:":16" == "/autopatch/prod/" %}class="active"{% endif %}><a href="/autopatch/qa/">QA</a></li>
	    <li {% if request.path|slice:":16" == "/autopatch/prod/" %}class="active"{% endif %}><a href="/autopatch/dev/">Dev</a></li>
	    <li {% if request.path|slice:":16" == "/autopatch/prod/" %}class="active"{% endif %}><a href="/autopatch/tasks/">Patching Tasks</a></li>
	  </ul>
	</div>
      </div>
    </div>

    </header>
    
    {% block content %}

    {% if latest_question_list %}

    <div class="MainContent">
      <div class="content">
	<article class="typicalArticle">
	    <h3>this is a server</h3>
	    <content>
	      <ul>
		{% for question in latest_question_list %}
		<li>
		  <a href="{% url 'autopatch:post' post.id %}">{{ post.body }}</a>
		</li>
		{% endfor %}
	      </ul>
	      {% else %}
	      <p>No polls are available.</p>
	    </content>
	</article>
      </div>
    </div>
    {% endif %}
    {% endblock %}
    
    
    <footer class="mainFooter">
      <p> copyright &copy; 2015</p>
    </footer>


       <!-- Bootstrap core JavaScript
	    ================================================== -->
       <!-- Placed at the end of the document so the pages load faster -->
       <script src="{% static "autopatch/javascript/jquery-1.11.2.min.js" %}"></script>
       <script src="{% static "autopatch/javascript/jquery.cookie-1.4.1.js" %}"></script>
       <script src="{% static "autopatch/javascript/ajax_config.js" %}"></script>
       <script src="{% static "autopatch/javascript/moment-with-langs-2.7.0.min.js" %}"></script>
       <script src="{% static "autopatch/javascript/bootstrap-3.3.2.min.js" %}"></script>
       <script src="{% static "autopatch/javascript/bootstrap-datetimepicker-3.0.0.min.js" %}"></script>
       {% block extra-scripts %}
       {% endblock %}
  </body>

</html>
