{% extends 'autopatch/index.html' %}

{% block content %}
<div class="container">
  <h3>Patching Tasks</h3>
  <hr />
  <li style="font-size:30px"><a href="/autopatch/errata/" font="100px;">Set the Errata Levels</a></li>
  <li style="font-size:30px"><a href="/autopatch/owners/" font="100px;">Create/update list of owners to exclude from patching</a></li>
  <li style="font-size:30px"><a href="/autopatch/erratahosts/" font="100px;">Get a list of all hosts requiring a specific errata</a></li>
  <hr />
  <form action="/autopatch/csv/" method="get">
    <input type="submit" class="btn btn-info" value="Create a .csv file for Prod" name="prodbtn">
    <input type="submit" class="btn btn-info" value="Create a .csv file for Stage" name="stagebtn">
    <input type="submit" class="btn btn-info" value="Create a .csv file for QA" name="qabtn">
    <input type="submit" class="btn btn-info" value="Create a .csv file for Dev" name="devbtn">
  </form>
  <hr />
  <h4>Populate Hosts from Git</h4>
  <form action="/autopatch/git/" method="get">
    <div class="row">
      <div class="col-xs-7">
	<input type="text" name="gitpath" class="form-control" placeholder="https://somegithost.com/somerepo.git">
      </div>
      <div class="col-xs-3">
	<input type="submit" class="btn btn-info" value="Clone" name="mybtn">
      </div>
    </div>
  </form>
  {% if unlist %}
  <h4 style="text-decoration: underline;">These hosts are not in a list, please find out why.</h4>
  {% for host in unlist %}
  {{ host }}
  {% endfor %}
  {% endif %}
  <hr />
  <h4>Query Satellite</h4>
  <p>
    Enter the following details to get the IDs and available Errata for hosts in the specified environment from Satellite:
  </p>
  <form action="/autopatch/satinfo/" method="post">{% csrf_token %}
    <div class="row">
      <div class="col-xs-2">
	<p>Satellite FQDN</p>
      </div>
      <div class="col-xs-6">
	<input id="id_satellite" type="text" name="satellite" maxlength="100" class="form-control" placeholder="satellite.corp.example.com"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
	<p>Login</p>
      </div>
      <div class="col-xs-6">
	<input id="id_loginname" type="text" name="loginname" maxlength="100" class="form-control" placeholder="username"/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
	<p>Password</p>
      </div>
      <div class="col-xs-6">
	<input type="password" name="password" id="id_password" class="form-control" placeholder="" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
	<p>Environment</p>
      </div>
      <div class="col-xs-6">
	<select name="environment">
	  <option value="prod" selected="selected">Prod Env</option>
	  <option value="stage" selected="selected">Stage Env</option>
	  <option value="qa" selected="selected">QA Env</option>
	  <option value="dev" selected="selected">Dev Env</option>
	</select>
      </div>
    </div>
    <br />
    <input type="submit" name="submit" value="Get Satellite IDs" class="btn btn-info btn-lg">
  </form>
  <br />
  <hr />
  <li style="font-size:30px"><a href="/autopatch/security/" font="100px;">Access Main Security Grid</a></li>
</div>
<br />
<br />
<br />
{% endblock  %}
<br />
<br />
