{% extends 'autopatch/index.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'autopatch/styles.css' %}" />

{% block content %}

    <div class="MainContent">  
      <div class="content">
	<article class="typicalArticle">
	  <header>
	    <h3><a href="/autopatch/">Back to the server list</a></h3>
	    <h3><a href="/autopatch/{{host.id}}">{{ host.server }}</a></h3>
	  </header>
	  <div class="host_meta">
	    on {{ host.extend }}
	  </div>
	  <div class = "post_body">
	    {{ host.skip|safe|linebreaks }}
	  </div>
	</article>
      </div>
    </div>


{% endblock  %}
