{% extends "autopatch/index.html" %}
{% block content %}
<div class="container">
  <p>Viewing <b>{{ total }}</b> hosts in the <b>{{ env }}</b> environment.</p>
  <table id="myTable" class="table table-striped tablesorter">
    <thead>
      <tr>
	<th>Server Name</th>
	<th>Skip Patching</th>
	<th>Group Owner</th>
	<th>Exclude Packages</th>
      </tr>
    </thead>
    <tbody>
      {% for host in prod_list %}
      {% if ".prod." in host.server or ".util." in host.server or ".dev" not in host.server and ".qa." not in host.server and ".stage." not in host.server %}
      <tr>
	<td align="center" width="25%"><a href="/autopatch/{{host.id}}">{{ host.server }}</a></td>
	<td align="center" width="5%">{{ host.skip }}</td>
	<td align="center" width="10%">{{ host.hostgroup }}</td>
	<td align="center" width="60%">{{ host.exclude }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock  %}
<br />
