{% extends "autopatch/index.html" %}
{% block content %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">QA Servers</div>
  <div class="panel-body">
    <p>QA environment servers and Syspatch parameters</p>
    <form action="/autopatch/qa/" method="get"><input type="submit" class="btn" value="Get Total Number of QA Hosts" name="mybtn"></form>
    <p> Environment: {{ env }}</p>
    <p> Total Number of Hosts: {{ total }}</p>
  </div>
  <!-- Table -->
  <table id="myTable" class="tablesorter" border="1">
    <thead>
      <tr>
	<th>Server Name</th>
	<th>Skip Patching</th>
	<th>Group Owner</th>
	<th>Exclude Packages</th>
      </tr>
    </thead>
    <tbody>
      {% for host in qa_list %}
      {% if ".qa." in host.server %}
      <tr>
	<td align="center" width="30%"><a href="/autopatch/{{host.id}}">{{ host.server }}</a></td>
	<td align="center" width="10%">{{ host.skip }}</td>
	<td align="center" width="20%">{{ host.hostgroup }}</td>
	<td align="center" width="50%">{{ host.exclude }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
