{% extends "autopatch/index.html" %}
{% block content %}
<div class="MainContent">
  <table class="table table-striped">
    <ul class="list-group">
      {% for host in object_list %}
      {% if ".qa." in host.server %}
      <li class="list-group-item">
	<ul class="list-inline">
	  <a href="/autopatch/{{host.id}}">{{ host.server }}</a>
	  <li>syspatch_skip: {{ host.skip }}</li>
	  <li>hostgroup: {{ host.hostgroup }}</li>
	</ul>
      </li>
      {% endif %}
      {% endfor  %}
    </ul>
</div>
{% endblock  %}
